<section class="advantages">
    <div class="container">
        <div class="advantages-thumb">
            <h3 class="advantages-about">Переваги</h3>
            <h2 class="advantages-title">Чому обрати нас?</h2>
            <p class="advantages-text">Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують стійкість і довговічність. Обираючи EcoTote, ви
            підтримуєте екологічну відповідальність.</p>
        </div>
        
        <ul class="advantages-list">
            <li class="advantages-item">
                <div class="img-thumb">
                    <picture>
                        <source 
                        media="(min-width: 1440px)" 
                        srcset="/img/advantages/advent-desk-1-min.jpg 1x, 
                                /img/advantages/advent-desk-1@2x-min.jpg 2x"
                        />

                        <source 
                        media="(min-width: 768px)" 
                        srcset="/img/advantages/advent-tab-1-min.jpg 1x, 
                                /img/advantages/advent-tab-1@2x-min.jpg 2x" 
                        />
                        <source 
                        media="(max-width: 767px)" 
                        srcset="/img/advantages/advent-mob-1-min.jpg 1x, 
                                /img/advantages/advent-mob-1@2x-min.jpg 2x"
                        />
                        <img class="img-for-adv" 

                        src="/img/advantages/advent-desk-1-min.jpg" 
                        alt="A flat lay photo featuring natural materials." 
                        />
                    </picture>

                    <h3 class="advantages-item-title">Стійкість та екологічність</h3>
                    <p class="advantages-item-text">Виготовлені з органічної бавовни та переробленого пластику.</p>
                </div>
            </li>

            <li class="advantages-item">
                <div class="img-thumb">
                    <picture>
                        <source 
                        media="(min-width: 1440px)" 
                        srcset="/img/advantages/advent-desk-2-min.jpg 1x, 
                                /img/advantages/advent-desk-2@2x-min.jpg 2x"
                        />

                        <source 
                        media="(min-width: 768px)" 
                        srcset="/img/advantages/advent-tab-2-min.jpg 1x, 
                                /img/advantages/advent-tab-2@2x-min.jpg 2x" 
                        />
                        <source 
                        media="(max-width: 767px)" 
                        srcset="/img/advantages/advent-mob-2-min.jpg 1x, 
                                /img/advantages/advent-mob-2@2x-min.jpg 2x"
                        />
                        <img class="img-for-adv" 

                        src="/img/advantages/advent-desk-2-min.jpg" 
                        alt="The image shows hands of a craftsperson using a sewing machine or stitching manually." 
                        />
                    </picture>
                    <h3 class="advantages-item-title">Міцність і довговічність</h3>
                    <p class="advantages-item-text">Наші сумки мають посилені шви для тривалого використання.</p>
                </div> 
            </li>

            <li class="advantages-item advantages-item-last">
                <div class="img-thumb">
                    <picture>
                        <source 
                        media="(min-width: 1440px)" 
                        srcset="/img/advantages/advent-desk-3-min.jpg 1x, 
                                /img/advantages/advent-desk-3@2x-min.jpg 2x"
                        />

                        <source 
                        media="(min-width: 768px)" 
                        srcset="/img/advantages/advent-tab-3-min.jpg 1x, 
                                /img/advantages/advent-tab-3@2x-min.jpg 2x" 
                        />
                        <source 
                        media="(max-width: 767px)" 
                        srcset="/img/advantages/advent-mob-3-min.jpg 1x, 
                                /img/advantages/advent-mob-3@2x-min.jpg 2x"
                        />
                        <img class="img-for-adv" 

                        src="/img/advantages/advent-desk-3-min.jpg" 
                        alt="A row of eco-tote bags in minimalistic, trendy colors." 
                        />
                    </picture>
                    <h3 class="advantages-item-title">Стильний та сучасний дизайн</h3>
                    <p class="advantages-item-text">Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
                </div>
                
            </li>
        </ul>
    </div>
</section>