<section class="advantages">
    <div class="container">
        <p class="advantages about">Переваги</p>
        <h2 class="advantages title">Чому обрати нас?</h2>
        <p class="advantages text">Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують стійкість і довговічність. Обираючи EcoTote, ви
        підтримуєте екологічну відповідальність.</p>
        <ul class="advantages-list">
            <li class="advantages-item">
                <picture>
                    <source 
                    media="(min-width: 1440px)" 
                    srcset="/img/advantages/advent-desk-1-min.jpg 1x, 
                            /img/advantages/advent-desk-1@2x-min.jpg 2x"
                    />

                    <source 
                    media="(min-width: 768px)" 
                    srcset="/img/advantages/advent-tab-1-min.jpg 1x, 
                            /img/advantages/advent-tab-1@2x-min.jpg 2x" 
                    />
                    <source 
                    media="(max-width: 767px)" 
                    srcset="/img/advantages/advent-mob-1-min.jpg 1x, 
                            /img/advantages/advent-mob-1@2x-min.jpg 2x"
                    />
                    <img class="" 

                    src="/img/advantages/advent-desk-1-min.jpg" 
                    alt="A flat lay photo featuring natural materials." 
                    width="421.33">
                </picture>

                <h3>Стійкість та екологічність</h3>
                <p>Виготовлені з органічної бавовни та переробленого пластику.</p>
            </li>

            <li class="advantages-item">
                <picture>
                    <source 
                    media="(min-width: 1440px)" 
                    srcset="/img/advantages/advent-desk-2-min.jpg 1x, 
                            /img/advantages/advent-desk-2@2x-min.jpg 2x"
                    />

                    <source 
                    media="(min-width: 768px)" 
                    srcset="/img/advantages/advent-tab-2-min.jpg 1x, 
                            /img/advantages/advent-tab-2@2x-min.jpg 2x" 
                    />
                    <source 
                    media="(max-width: 767px)" 
                    srcset="/img/advantages/advent-mob-2-min.jpg 1x, 
                            /img/advantages/advent-mob-2@2x-min.jpg 2x"
                    />
                    <img class="" 

                    src="/img/advantages/advent-desk-2-min.jpg" 
                    alt="The image shows hands of a craftsperson using a sewing machine or stitching manually." 
                    width="421.33" height="249.47">
                </picture>
                <h3>Міцність і довговічність</h3>
                <p>Наші сумки мають посилені шви для тривалого використання.</p>
            </li>
            <li class="advantages-item">
                <picture>
                    <source 
                    media="(min-width: 1440px)" 
                    srcset="/img/advantages/advent-desk-3-min.jpg 1x, 
                            /img/advantages/advent-desk-3@2x-min.jpg 2x"
                    />

                    <source 
                    media="(min-width: 768px)" 
                    srcset="/img/advantages/advent-tab-3-min.jpg 1x, 
                            /img/advantages/advent-tab-3@2x-min.jpg 2x" 
                    />
                    <source 
                    media="(max-width: 767px)" 
                    srcset="/img/advantages/advent-mob-3-min.jpg 1x, 
                            /img/advantages/advent-mob-3@2x-min.jpg 2x"
                    />
                    <img class="" 

                    src="/img/advantages/advent-desk-3-min.jpg" 
                    alt="A row of eco-tote bags in minimalistic, trendy colors." 
                    width="421.33" height="249.47">
                </picture>
                <h3>Стильний та сучасний дизайн</h3>
                <p>Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
            </li>
        </ul>
    </div>
</section>