<section class="hero-section">
  <div class="container">
    <div class="hero-section-wrapper-big">
      <h1 class="hero-section-title">
        EcoTote — Стиль, що не шкодить планеті.
      </h1>
      <div class="hero-section-wrapper-small">
        <p class="hero-section-text">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a href="#assortment-section">
          <button class="hero-section-button btn" type="button">
            Купити зараз
          </button>
        </a>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1158px)"
        srcset="
          ./images/hero/hero-desk-min.jpg    1x,
          ./images/hero/hero-desk@2x-min.jpg 2x
        "
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/hero-tab-min.jpg    1x,
          ./images/hero/hero-tab@2x-min.jpg 2x
        "
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/hero-mb-min.jpg    1x,
          ./images/hero/hero-mb@2x-min.jpg 2x
        "
      />

      <img src="./images/hero/hero-desk-min.jpg" alt="Фото сумок" width="288" />
    </picture>
  </div>
</section>
