.header {
  background-color: #75d281;
}
.header-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}
.header-logo {
  display: block;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #030a06;
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .burger-icon {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .burger-icon {
    display: none;
  }
  .header-container {
    padding-left: 64px;
    padding-right: 64px;
  }
  .logo-icon {
    width: 106px;
    height: 45px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .header-logo {
    margin-right: 175px;
  }
  .nav-link,
  .contacts-link {
    display: block;
    padding: 23px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
  }
  .contacts {
    font-style: normal;
    display: block;
    margin-left: auto;
  }
  .contacts-list {
    display: flex;

    align-items: center;
    justify-content: end;
    gap: 16px;
  }
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #818482;
  }
}
