.hero-section {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 320px;
  margin: 0 auto;
}

.hero-section-title {
  font-family: 'Comfortaa', sans-serif;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  margin-bottom: 20px;
}

.hero-section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;

  margin-bottom: 24px;
}

.hero-section-button {
  margin-bottom: 24px;
}

img {
  border-radius: 40px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 32px;
    max-width: 768px;
  }

  .hero-section-wrapper-big {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 20px;
  }

  .hero-section-wrapper-small {
    min-width: 340px;
  }

  .hero-section-title {
    margin-bottom: 0;
  }

  .hero-section-text {
    font-size: 18px;

    margin-bottom: 32px;
  }

  .hero-section-button {
    margin: 0;
    min-width: 148px;
  }

  img {
    min-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    max-width: 1440px;
  }

  .hero-section-wrapper-big {
    gap: 32px;
  }

  .hero-section-wrapper-small {
    min-width: 640px;
  }

  .hero-section-title {
    min-width: 640px;
    font-size: 56px;
  }

  img {
    min-width: 1312px;
  }
}
